.App {
  text-align: center;
  color: #fff;
}
.container{
  background: rgb(168, 168, 168);
  width: 50vw;
  height: 20vh;
}
.frageDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ArticleContainer{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.antwortDiv{
  margin: auto;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-evenly;
}

